#include <physical_layouts.dtsi>
#include "temper_matrix_transform.dtsi"

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT";

        kscan = <&mock_kscan>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  106       0     0     0>
            , <&key_physical_attrs 100 100  100   35       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   39       0     0     0>
            , <&key_physical_attrs 100 100  400   53       0     0     0>
            , <&key_physical_attrs 100 100  793   53       0     0     0>
            , <&key_physical_attrs 100 100  893   39       0     0     0>
            , <&key_physical_attrs 100 100  993    0       0     0     0>
            , <&key_physical_attrs 100 100 1093   35       0     0     0>
            , <&key_physical_attrs 100 100 1193  106       0     0     0>
            , <&key_physical_attrs 100 100    0  206       0     0     0>
            , <&key_physical_attrs 100 100  100  135       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  139       0     0     0>
            , <&key_physical_attrs 100 100  400  153       0     0     0>
            , <&key_physical_attrs 100 100  793  153       0     0     0>
            , <&key_physical_attrs 100 100  893  139       0     0     0>
            , <&key_physical_attrs 100 100  993  100       0     0     0>
            , <&key_physical_attrs 100 100 1093  135       0     0     0>
            , <&key_physical_attrs 100 100 1193  206       0     0     0>
            , <&key_physical_attrs 100 100    0  306       0     0     0>
            , <&key_physical_attrs 100 100  100  235       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  239       0     0     0>
            , <&key_physical_attrs 100 100  400  253       0     0     0>
            , <&key_physical_attrs 100 100  793  253       0     0     0>
            , <&key_physical_attrs 100 100  893  239       0     0     0>
            , <&key_physical_attrs 100 100  993  200       0     0     0>
            , <&key_physical_attrs 100 100 1093  235       0     0     0>
            , <&key_physical_attrs 100 100 1193  306       0     0     0>
            , <&key_physical_attrs 100 100  267  356       0     0     0>
            , <&key_physical_attrs 100 100  379  372    1500   429   422>
            , <&key_physical_attrs 100 100  493  390    3000   543   440>
            , <&key_physical_attrs 100 100  700  390 (-3000)   750   440>
            , <&key_physical_attrs 100 100  814  372 (-1500)   864   422>
            , <&key_physical_attrs 100 100  926  356       0     0     0>
            ;
    };
};